[package]
name = "xray-grpc"
version = "0.1.0"
edition = "2024"
build = "build.rs"

[build-dependencies]
tonic-build = "0.11"

[dependencies]
tonic = "0.11"
prost = "0.12"
prost-types = "0.12"
tokio = { version = "1", features = ["rt-multi-thread", "net", "time"] }
